<app-header></app-header>
<div class="container">
    <div class="title">
        Login
        <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm.value)">
        <div class="username">
            username : <input type="email" name="email" id="email_address" ngModel>
        </div>
        <div class="password">
            password : <input type="password" name="password" id="password" ngModel>
        </div>
        <button type="submit">submit</button>
        </form>
    </div>
</div>